<div class="card">
    <h2 class="card-header">Edit post</h2>
    <form class="card-body edit-post-form" id="edit-post-form">
        <div class="form-floating mb-3">
            <label for="post-title" class="form-label"> Title </label>
            <input name="post-title" type="text" placeholder="{{post.title}}" class="form-input w-100">
        </div>
    </form>
</div>