<main>
    <h3>New Post</h3>
    <form>
        <div>
            <label></label>
            <input>
        </div>
        <div>
            <label></label>
            <textarea></textarea>
        </div>
        <button></button>
    </form>
</main>
<script src="../public/add-post.js"></script>